header{
	height: 50px;
	padding: 10px;
	background-color: #A42ED0;
}
.left{
	float: left;
	line-height: 300px;
	width: 25%;
	height: 300px;
	background-color: #04BA51;
}
.middle{
	float: left;
	line-height: 300px;
	width: 50%;
	height: 300px;
}
.prebody{
	height: 20%;
	line-height: 50px;
	background-color: #974242;
}
.body{
	height: 60%;
	line-height: 200px;
	background-color: #D96BC3;
}
.post{
	height: 20%;
	line-height: 50px;
	background-color: #974242;
}
.right{
	width: 25%;
	line-height: 300px;
	height: 300px;
	float: left;
	background-color: #04BA51;
}
footer{
	height: 50px;
	padding: 10px;
	vertical-align: middle;
	background-color: #A42ED0;
	clear: left;
}