h1{
	color: #167F34;
	text-align: center;	
}
table, tr, th, td{
	width: 100%;
	border: 1px solid #817C7C;
	border-collapse: collapse;
	text-align: center;
}
img{
	width: 80px;
	height: 60px;
}
input[type="button"]{
	font-weight: bold;
	height: 30px;
	color: #3C3A3A;
	background-color: #3BA12A;
}
input:hover{
	background-color: #AEA8A8;
	color: #AE532B;
}
th, td{
	width: 15%;
}