h1{
	color: #167F34;
	text-align: center;	
}
h4{
	color: #AF7026;
	font-size: 20px;
}
a img{
	width: 50px;
	height: 50px;
}
button{
	background-color: #3CE84C;
}
button:hover{
	background-color: #EFC34D;
}
.product{
	border: 1px solid #727272;
	border-radius: 10px;
	float: left;
	text-align: center;
	margin: 2px;
	width: 19.5%;
	height: 300px;
}
.product img{
	width: 120px;
	height: 100px;
}
.product input[type="button"]{
	font-weight: bold;
	width: 100px;
	height: 30px;
	color: #353333;
	background-color: #57EE3E;
}
.product input:hover{
	background-color: #AEA8A8;
	color: #AE532B;
}
.product p{
	color: #BD7D33;
}
.product input[type="number"]{
	width: 20%;
}