div{
	width: 400px;
	height: 300px; 
	box-shadow: 5px 5px 5px #8C8383;
	border: 1px solid #383535;
}
h1{
	padding-left: 20px;	
}
ul li{
	font-weight: bold;
	padding: 5px;
	margin: 3px;
	width: 200px;
	list-style-type: none;
	color: #1D5DC6;
	border: 2px solid #1D5DC6;
}
ul li:hover{
	background-color: #898888;
}
a{
	text-decoration: none;
}